<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Cat name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category.games.each do |game| %>
        <p>
            <b>Games:</b>
            <%= game.title %>
        </p>
    <% end %>
  </tbody>
</table>
